<template>
  <v-container class="wrapper">
    <router-link to="/" class="hero">
      404
    </router-link>
  </v-container>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero {
  color: white;
  text-decoration: none;
  font-size: 4em;
  animation: 1s slide-in linear;
}
</style>
