<template>
  <v-container class="wrapper">
    <v-container class="hero">
      <h5>About Me?</h5>
    </v-container>
    <v-container class="paragraph">
      <p>
        I'm <b>Fain</b>, combination of free and pain.<br>
        I made this project because I want to try to integrate<br>
        <Link slug="https://gitlab.com" text="Gitlab"/> with <Link slug="https://kubernetes.io/" text="Kubernetes"/>.
      </p>
    </v-container>
    <v-container class="back-to-home">
      <router-link to="/" class="bth-btn">
        <v-icon large class="icon">mdi-arrow-left</v-icon>
      </router-link>
    </v-container>
  </v-container>
</template>

<script>
import Link from '@/components/Link'

export default {
  name: 'About',
  components: {
    Link,
  }
}
</script>

<style scoped>
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero {
  text-align: center;
  animation: slide-in 1s linear;
}

.hero h5 {
  font-weight: bold;
  font-size: 1.2em;
}

.paragraph {
  font-size: 1em;
  animation: slide-in 1s linear;
  line-height: 24pt;
  text-align: justify;
  width: auto;
}

.icon {
  color: white !important;
  margin: 32px;
  animation-delay: 2s;
  animation: left 0.8s linear infinite;
}

.bth-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none !important;
  color: white !important;
}

.back-to-home {
  font-size: 1.2em;
  width: auto;
}

@keyframes left {
  from {
    transform: translate(50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes slide-in {
  from {
    transform: translate(0, 50%);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
</style>
