<template>
  <v-container fluid class="wrapper">
    <router-link to="/about">
      <img alt="React logo" src="../assets/react.svg" class="logo">
    </router-link>
    <v-container class="hero">
      <div>
        Every story has its own main character<br>
        but the story itself, doesn't have to be about<br>
        its main character.
      </div>
    </v-container>
  </v-container>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style scoped>
.logo {
  height:36px;
  animation: spin 2s linear infinite;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  margin: 32px;
  color: white;
  text-align: left;
  font-size: 1em;
  line-height: 24pt;
  width: auto !important;
  animation: slide-in 1s ease-in;
}
</style>
