<template>
  <a :href="slug">{{ text }}</a>
</template>

<script>
export default {
  name: 'Link',
  props: ['slug', 'text']
}
</script>

<style scoped>
a {
  color: white !important;
  text-decoration: none !important;
  font-weight: bold;
}
</style>
